<%= render 'shared/errors', obj: @centre %>

<div class='well'>
  <%= form_for @centre do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit(@centre.new_record? ? 'Create Centre' : 'Update Centre', class: 'btn btn-primary')%>
  <% end %>
</div>
