<%= render 'shared/errors', obj: @timeslot %>

<div class='well'>
  <%= simple_form_for @timeslot do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='control-group'>
      <%= f.label :starts_at %>
      <%= f.date_select :starts_at %>
    </div>   
    <%= f.submit(@timeslot.new_record? ? 'Create Timeslot' : 'Update Timeslot', class: 'btn btn-primary')%>
  <% end %>
</div>