<div id="timeslots">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @timeslots_by_date[date] %>
      <ul>
        <% @timeslots_by_date[date].each do |timeslot| %>
          <li><%= link_to timeslot.starts_at %></li>
          <% timeslot.klass.each do |topic| %>
            <li><%= link_to topic.name %></li>
          <% end %>          
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<br/>