<%= render 'shared/content_title', title: 'All Timeslots' %>
<p class='pull-right'>
  <%= link_to 'New Timeslot', new_timeslot_path, class: 'btn btn-success btn-small navbar-btn' %>
</p>      

<div id="timeslots">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @timeslots_by_date[date] %>
      <ul>
        <% @timeslots_by_date[date].each do |timeslot| %>
          <li><%= link_to timeslot.name, timeslot %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<br/>

<p class= 'container'>
<% @timeslots.each do |timeslot| %>
  <%= render 'timeslot', timeslot: timeslot %>
<% end %>
</p>

