<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class='<%= 'active' if params[:tab].nil? %>'><a href="#">Dashboard</a></li>
  <li role="presentation" class='<%= 'active' if params[:tab] == 'announcements' %>'>
  <%= link_to 'Announcements', posts_path(@user, tab: 'announcements') %>
  </li>
  <li role="presentation" class='<%= 'active' if params[:tab] == 'programme' %>'>  
  <%= link_to 'Programme', programmes_path(@user, tab: 'programme')  %>
  </li>
  <li role="presentation" class='<%= 'active' if params[:tab] == 'academy' %>'>  
  <%= link_to 'Academy', academies_path(@user, tab: 'academy')  %>
  </li>
    <li role="presentation" class='<%= 'active' if params[:tab] == 'timetable' %>'>  
  <%= link_to 'Timetable', timeslots_path(@user, tab: 'timetable')  %>
  </li>
</ul>