<!DOCTYPE html>
<html>
<head>
  <title>Tuition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">        
          <%= render 'layouts/navigation' %>
        </div>
        
</nav>
  </header>  
  <div id="main" role="main">
    <div class="container-fluid">
       <div class="row">
          <div class="col-xs-6 col-md-2">
            <%= render 'layouts/vertical' %>            
          </div>           
          <div class="col-xs-12 col-sm-6 col-md-10">
            <%= yield %>
          </div>
        </div>
      </div>
      <footer>
      </footer>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->

</body>
</html>
