<!DOCTYPE html>
<html>
<head>
  <title>Tuition</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
<nav class="navbar navbar-default" role="navigation">
  <% if logged_in? %>        
    <div class="container-fluid">        
      <%= render 'layouts/navigation' %>
    </div>
  <% else %>
    <div class="container container-fluid">        
      <%= render 'layouts/navigation' %>
    </div>        
  <% end %>
        
</nav>
  </header>  
  <div id="main" role="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
       <div class="row">
          <% if logged_in? %>
            <div class="col-xs-6 col-md-2">
              <%= render 'layouts/vertical' %>            
            </div>           
            <div class="col-xs-12 col-sm-6 col-md-10">
              <div class="container-fluid" >
                <%= yield %>
              </div>
            </div>
          <% else %>
            <div class="container container-fluid" >
              <%= yield %>
            </div>          
          <% end %>
        </div>
      </div>
      <footer>
      </footer>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->

</body>
</html>
