
<div class='well'>
  <%= render 'shared/errors', obj: @klass %>  
  <%= form_for [@intake, @klass] do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>        
    <div class='control-group'>
      <%= f.label "Centres" %>
      <%= f.grouped_collection_select :centre_ids, Academy.order(:name), :centres, :name, :id, :name, include_blank: true %>        
    </div>     
    <div class='control-group'>
      <%= f.label "Rooms" %>
      <%= f.grouped_collection_select :room_ids, Centre.order(:name), :rooms, :name, :id, :name, include_blank: true %>        
    </div>    
    <div class='control-group'>
      <%= f.label :programmes %>
      <%= f.collection_select :programme_ids, Programme.order(:name), :id, :name, include_blank: true %>        
    </div>      
   
    <div class="row">
      <div class="col-md-5">     
      <%= f.label "Topics" %>
      </div>
      <div class="col-md-4">      
      <%= f.label "Date and Time" %> 
      </div>
      <div class="col-md-8">
        <% @klass.programmes.each do |programme| %>            
          <% @klass.topics.each do |topic| %>        
          <div class="col-md-1">
            <%= topic.number %>
          </div>
          <div class="col-md-7">
            <%= topic.name %>
          </div>
          <div class="col-md-4">             
            <%= f.fields_for :timeslots do |timeslot| %>
            <div class='control-group container'>          
              <%= timeslot.collection_select :timeslots, Timeslot.all, :id, :name, include_blank: true %>    
            </div>
            <% end %>         
          </div>          
          <% end %>
        <% end %>                                 
      </div>                              
    </div>  
    <br/>
    <%= f.submit(@klass.new_record? ? 'Create Class' : 'Update Class', class: 'btn btn-primary')%>
  <% end %>
</div>
