
<div class="row">
  Start Date:
  <h5><%= link_to @intake.start_date %></h5>
</div>


<% @intake.klasses.each do |klass| %>    
<div class="row">
<div class="well">      
  <%= klass.name%>              
    <% klass.programmes.each do |programme| %>            
      <%= programme.name %>  
        <% klass.topics.each do |topic| %>            
          <%= topic.number %>
          <%= topic.name %>
        <% end %>
      <% end %>            
      [<%= link_to 'Edit this Class', edit_intake_klass_path(@intake, klass)%>]  
    </div>
  </div>
<% end %>

 


